@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

.bg-custom-light{
    background-color: rgba(149, 157, 165,0.2);
}
body{
    background-color: rgba(149, 157, 165, 0.1);
    font-family: 'Noto Sans', sans-serif;
}
.fs-12{
    font-size: 12px;
}

.fs-13{
    font-size: 13px;
}

.fs-14{
    font-size: 14px;
}
.page{
    min-height: calc(100vh - 280px);
}
.text-justify{
    text-align: justify;
}

.pagination nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.w-70{
    width: 70%;
}


/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.15s;
    opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}
