.bg-custom-light{
    background-color: rgba(149, 157, 165,0.2);
}
body{
    background-color: rgba(149, 157, 165, 0.1);
    font-family: 'Noto Sans', sans-serif;
}
.fs-12{
    font-size: 12px;
}

.fs-13{
    font-size: 13px;
}

.fs-14{
    font-size: 14px;
}
.page{
    min-height: calc(100vh - 280px);
}
.text-justify{
    text-align: justify;
}

.pagination nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.w-70{
    width: 70%;
}

